/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/alfios */
@import "http://fonts.fontstorage.com/import/alfios.css";
/*
	Alfios, 400, 400 italic, 700, 700 italic
*/




.panel-body{
    color: rgb(186, 190, 191);
}
.container_note{
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}
.container_subject{
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    margin-bottom: 30px;

}
section.success{
    background-color: ghostwhite;
    position: relative;
}
section {
	height: 100vh;
}
.container_title_subject{
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(188, 188, 191) !important;
    color: yellow !important;
    border-color: transparent !important;
}
button.button_create_subject{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: 44%;
    background: rgb(236, 235, 231);
    color: rgb(180, 169, 135);
}

button.button_create_subject:hover{
    background: rgb(180, 169, 135);
    color: rgb(236, 235, 231);
}

.button_view_subject{
    color: #fff !important;
    background: rgb(212, 207, 202);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 16px;
}
.button_view_subject:hover{
    box-shadow: 0px 0px 3px 0px rgba(96,95,126,1);
}
.button_delete_subject{
    color: #fff !important;
    background: rgb(180, 160, 135);
    margin-top: 15px;
    margin-left: 15px;
}
.button_delete_subject:hover{
    box-shadow: 0px 0px 3px 0px rgba(96,95,126,1);
}
.buttont_subject{
    float: right;
    background: #fff;
    padding: 0 0 20px 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.container_button_update_subject{
    float: left;
}
.button_update_subject{
   color: #fff !important;
    background: rgb(189, 186, 181);
    margin-top: 15px;
    margin-left: 16px;
}
.button_update_subject:hover{
    box-shadow: 0px 0px 3px 0px rgba(96,95,126,1);
}
.button_return_subject{
    border-color: rgb(199, 202, 204);
    background: rgb(129, 133, 135);
    color: rgb(86, 104, 115);
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -79px;
}
.button_return_subject:hover{
    border-color: rgb(199, 202, 204);
    background: rgb(86, 104, 115);
    color: rgb(129, 133, 135);
}
    .title_node{
    color: #fff !important;
    background: rgb(205, 205, 209) !important;
    border-color: transparent !important;
    text-align: center
}
.button_modal_save{
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}
.button_modal_close{
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
.form-signin{
    width: 40%;
    margin: auto;
}
.form-signin-heading{
    color: #1E90FF;
    font-size: 25px;
    text-align: center;
    margin: 25px 0;
}
.input_emai_style, .input_name_style, .input_password_style{
    margin-bottom: 10px;
}
.title_name_header{
    color: yellow;
}
.description_node{
    background: #fff;
}
.logo_header{
    background-image: url('/src/img/Ukrainian-flag-1.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 110px;
}
.padding_section{
    padding-top: 120px !important;
}
.padding_nav{
    padding: 5px 0;
}
.page-scroll{
    top: 30px;
}
.text_title_subject{
    font-family: Alfios;
    font-size: 24px;
    color: #fff;
}
.container_button_note{
    float: right;
}
.input_password_style{
    margin-bottom: 10px;
}
.container_sharePage{
    margin-top: 60px;
}
.select_shareNote_style{
    margin-left: 25px;
    width: 200px;
    height: 30px;
}